:root {
  --headline: RobotoLight;
  --paragraph: RobotoThin;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pageContainer {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  font-family: var(--headline);
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  background-color: #163d39;
  padding: 10px 20px;
  color: #fff;
  min-height: 8vh;
  max-width: 100vw;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
}
li {
  position: relative;
  margin: 0 20px;
}

li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.3s;
}
li:hover::before {
  width: 50%;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
}

.navbar img {
  max-height: 5rem;
}

/* ABOUT ME SECTION */
#despreMine {
  width: 100%;
}
.despreMineTitle {
  color: #163d39;
  font-size: 32px;
  text-align: center;
  margin: 4rem 0 0 0;
  letter-spacing: 0.2rem;
  font-family: var(--headline);
  filter: drop-shadow(0 0 10px #163d39) drop-shadow(0 0 20px #163d39)
    drop-shadow(0 0 40px #163d39);
}
.aboutMeWrapper {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 5rem 0 2rem 0;
}
.right-text {
  background-color: #b0c1b8;
  color: #111;
  padding: 2rem;
  border-radius: 12px;
  width: 50%;
  box-shadow: 0 2px 1rem #807d7d;
  font-size: 18px;
}
.headerImg {
  border-radius: 12px;
  max-height: 450px;
  max-width: 450px;
  box-shadow: 0 2px 1rem #807d7d;
}

/* CONTACT SECTION */

.contactWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0;
}
.cardContact {
  max-width: 350px;
  flex: 1 1 350px;
  height: 150px;
  background-color: #b0c1b8;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .cardContact {
    max-width: 100%;
  }
}

/* SERVICES SECTION  */
.servicii {
  width: 100%;
  background-color: #163d39;
}
.serviciiTitle {
  color: #edebdf;
  padding-top: 2rem;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.2rem;
  font-family: var(--headline);
  filter: drop-shadow(0 0 10px #edebdf) drop-shadow(0 0 20px #edebdf);
}
.serviciiWrapper {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
  flex-wrap: wrap;
}
.serviciiCard {
  background-color: #b0c1b8;
  height: 400px;
  width: 350px;
  border-radius: 12px;
  padding: 2rem;
  animation: flying 4s infinite ease-in-out;
  box-shadow: 0 0 30px #edebdf;
}
.serviciiCardTitle {
  text-align: center;
  margin: 1.7rem;
}
.serviciiCardImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  background-color: #163d39;
}
.serviciiParagraph {
  text-align: center;
  margin: 2rem 0;
  padding: 1.5rem 0;
  font-size: 20px;
}

/* PARTNERS SECTION */

.parteneriWrapper {
  min-height: 400px;
}
.parteneriTitle {
  font-size: 2em;
  text-align: center;
  padding: 2rem 0;
  letter-spacing: 0.2rem;
  font-family: var(--headline);
  margin-top: 3rem;
  color: #163d39;
  filter: drop-shadow(0 0 10px #163d39) drop-shadow(0 0 20px #163d39)
    drop-shadow(0 0 40px #163d39);
}
.parteneriImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  column-gap: 15rem;
  row-gap: 3rem;
}

.partener {
  height: 10rem;
}
.sponsorClickable {
  text-decoration: none;
}

/* BENEFITS SECTION */

.beneficiiTitle {
  font-size: 2em;
  color: #163d39;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: var(--headline);
  padding: 5rem 0 0 0;
  filter: drop-shadow(0 0 10px #163d39) drop-shadow(0 0 20px #163d39)
    drop-shadow(0 0 40px #163d39);
}
.beneficii {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.beneficiiWraper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 2rem auto;
  background-color: #b0c1b8;
  padding: 2rem;
  width: 300px;
  height: 380px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 40px 1rem #807d7d;
  animation: flying 4s infinite ease-in-out;
}

.cardTitle {
  margin: auto;
  text-transform: uppercase;
}
.cardParagraph {
  margin: auto;
}
.fontIcon {
  height: 35px;
  color: #fff;
}
.cardImgWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #163d39;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background-color: #163d39;
  padding: 2rem;
}

.wrapper1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  margin: 2rem 0 0 0;
  color: #fff;
  width: 70%;
  text-align: center;
}
.createdBy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.onixon {
  text-decoration: none;
  color: #f4ad15;
  position: relative;
}
.onixon::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f4ad15;
  bottom: 0;
  left: 0;
  border-radius: 7px;
}

/* KEY FRAMES */

@keyframes flying {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  0% {
    transform: translateY(0);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1380px) {
  .right-text {
    width: 90%;
  }
  .aboutMeWrapper {
    gap: 2rem;
  }
}

@media (max-width: 780px) {
  .right-text {
    width: 100%;
  }
  .headerImg {
    min-width: 300px;
  }

  .left-links,
  .right-links {
    display: none !important;
  }
  .navbar {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .headerImg {
    width: 250px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer img {
    width: 15rem;
  }
}
@media (max-width: 380px) {
  img {
    width: 15rem;
  }
  .footer p {
    font-size: 16px;
  }
}

/* FONTS IMPORT */

@font-face {
  font-family: RobotoLight;
  src: url(/fonts/Roboto-Light.ttf), format("truetype");
}
@font-face {
  font-family: RobotoThin;
  src: url(/fonts/Roboto-Thin.ttf), format("truetype");
}
